@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
	padding: 0;
	margin: 0;
	background-color: hsl(0deg 0% 0%);
	padding-left: 20px;
	padding-right: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}
a {
	text-decoration: none;
	color: white;
	font-size: 1.2em;
	text-transform: uppercase;
}

.principal {
	height: 80vh;
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100px;
}

.navigation {
	width: 50%;
	height: auto;
}

.navigationlist {
	display: flex;
	justify-content: center;
}

.navigationitem {
	font-size: 0.5em;
	width: 70px;
	display: flex;
	justify-content: center;
	opacity: 0.5;
}

.navigationitem:nth-child(1) {
	position: absolute;
	left: 10px;
	opacity: 1;
}

.navigationitem:nth-child(7) {
	position: absolute;
	right: 20px;
	width: 100px;
	height: 40px;
	top: 30px;
	opacity: 1;
}

.navigationitem:nth-child(7) .navigationlink {
	background-color: #0ab09b;
	width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2px;
}

.Container {
	margin: 0 auto;
	max-width: 1200px;
}

.GetStarted {
	display: flex;
	justify-content: start;
	align-items: flex-end;
	min-height: 50vh;
}

.GTpadre {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(1, auto);
}

.GTHijo:nth-child(1) {
	width: 60%;
}

.GetStarted h1 {
	color: white;
	font-size: 4em;
	padding-bottom: 0.3em;
}

.GetStarted p {
	color: white;
	opacity: 0.5;
	padding-bottom: 1em;
}

.boton {
	background-color: transparent;
	border: 1;
	border-color: white;
	border-radius: 2px;
	width: 200px;
	color: white;
	border-radius: 2px;
	height: 40px;
}

.active {
	background-color: #0ab09b;
	border: 0;
}

.dibujo {
	width: 400px;
	height: 400px;
	border: 0.5em outset #0ab09b;
	border-radius: 50%;
}

.secundario1 {
	width: 100%;
	height: 80vh;
	background: #111a19;
}

.Secundario1Dibujos {
	margin: 0 auto;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 100px;
	padding-bottom: 30px;
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-template-rows: repeat(1, auto);
	width: 400px;
}

.Secundario1Dibujo {
	width: 50px;
	height: 50px;
	border: 0.5em outset #0ab09b;
	border-radius: 50%;
}

.SecundarioTexto {
	text-align: center;
}

.Texto {
	color: white;
	margin: 0 auto;
	font-size: 1.5em;
	width: 55%;
	padding-bottom: 20px;
}

.secundario1 a {
	color: #0ab09b;
	margin: 0 auto;
	font-size: 1em;
	width: 55%;
}

.SecundarioTexto::after {
	content: " ";
	width: 100%;
	height: 100%;
	border-bottom: 3px solid white;
}

.opciones {
	padding: 100px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(1, auto);
}

.opcion {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.p1 {
	color: white;
	font-size: 2.3em;
}

.p2 {
	color: white;
	font-size: 1em;
}

.Secundario2 {
	width: 100%;
	background: black;
	font-size: 1em;
	color: white;
	text-align: center;
	height: 40vh;
}

.Secundario2 p {
	padding-top: 50px;
	padding-bottom: 20px;
	opacity: 0.5;
}

.maindibujos {
	width: 400px;
	margin: 0 auto;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 50px;
	padding-bottom: 30px;
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-template-rows: repeat(2, auto);
}

.seconddibujos {
	width: 50px;
	height: 50px;
	border: 0.5em outset white;
	border-radius: 50%;
}

.Secundario3 {
	width: 100%;
	background: black;
	font-size: 1em;
	color: white;
	text-align: center;
	height: 40vh;
}

.S3Padre {
	background: black;
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(1, auto);
	grid-gap: 20px;
	height: 30vh;
}

.S3Hijo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #003731;
	border-radius: 5px;
}

.S3Hijo p {
	padding: 30px;
	color: #0ab09b;
	opacity: 0.5;
}

.S3Hijo a {
	color: white;
	opacity: 0.5;
	text-transform: capitalize;
}

footer {
	background: black;
	color: white;
	height: 30vh;
}

.FooterPadre {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(1, auto);
}

.FooterPadre {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(1, auto);
}

.footerhijo {
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-template-rows: repeat(1, auto);
}

.footerhijo ul li {
	opacity: 0.5;
}

.footerhijo ul li:nth-child(1) {
	font-weight: bolder;
	opacity: 1;
}
